---

---

<footer>
  <div class="bg-gray-900 text-center py-8">
    <div class="container mx-auto w-100 lg:w-2/3 xl:1/2 text-slate-200">
      Gabriel Pires - Criando Soluções para o Mercado Financeiro 
    </div>
  </div>
</footer>
